*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.card{
    width: fit-content;
    background-color: pink;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.nav{
    padding: 10px;
    margin: 10px;
    background-color: brown;
}