@import "tailwindcss";

#right::-webkit-scrollbar{
    display: none;
}

#cardBtn{
    transition: all 0.3s ease-in-out;
}

#cardBtn:hover{
    background-color: rgb(88, 147, 127);
}

#cardBtn:active{
    scale: 0.95;
}